
.tg {
    border: 1px solid black;
}
.tg td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;}
.tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;}
.tg .tg-0lax{
    text-align:left;
    vertical-align:top}
.tg .tg-nrix{
    text-align:center;
    vertical-align:middle
}